.movies {
  padding: 0 30px 80px 30px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.movies__list {
  margin: 0;
  padding: 0 0 60px 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 38px 20px;
}

.movies__see-more-button {
  display: block;
  margin: 0 auto;
  padding: 0;
  border: 1px solid
    var(--color-gray-hr);
  border-radius: 5px;
  width: 320px;
  height: 36px;
  font-family: var(
    --font-family-default
  );
  font-weight: var(
    --font-weight-medium
  );
  font-size: 12px;
  line-height: 18px;
  color: var(--color-white);
  background-color: var(
    --color-main-bg
  );
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .movies__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .movies__list {
    grid-template-columns: 1fr 1fr;
    gap: 30px 30px;
  }

  .movies {
    padding: 0 30px 80px 30px;
  }
}

@media screen and (max-width: 767px) {
  .movies__list {
    grid-template-columns: 1fr 1fr;
    gap: 34px 20px;
    padding: 0 0 60px 0;
  }

  .movies {
    padding: 0 10px 80px 10px;
  }
}

@media screen and (max-width: 425px) {
  .movies__list {
    grid-template-columns: 1fr;
  }

  .movies__see-more-button {
    width: 240px;
  }
}
