.section-header {
  font-family: var(
    --font-family-default
  );
  font-weight: var(
    --font-weight-regular
  );
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: var(--color-white);
  margin: 0;
  padding: 0 0 23px 0;
  border-bottom: 1px solid
    var(--color-hr);
}

@media screen and (max-width: 767px) {
  .section-header {
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 28px 0;
  }
}
